#countries-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}
.column {
    background-color: lightgray;
    padding: 10px;
  }
  .country{
    border: 2px salmon solid;
  }
  